.header {
    margin-top: 92px;
    margin-bottom: 32px;
    img {
        max-width: 100%;
    }
}

@media (min-width:768px) {
    .header {
        margin: 86px auto 16px;
        max-width: 600px;
        img {
            max-width: 100%;
            margin: 0 auto;
        }
    }
}